<div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href='{{ site.baseurl }}about'>
                <img id="avatar" class="2x" src="/assets/images/avatar.png"/>
            </a>
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
            <div id="icons">
                <a title="Projects" href="{{ site.baseurl  }}projects" ><i class="fa fa-code fa-2x"></i></a>
                <a title="Resume" href="/assets/pdf/resume_nathaniel_dempkowski.pdf" ><i class="fa fa-file-text fa-2x"></i></a>
                <a title="GitHub" href="https://github.com/natdempk/" ><i class="fa fa-github fa-2x"></i></a>
                <a title="Stack Overflow" href="http://stackoverflow.com/users/2068985/natdempk" ><i class="fa fa-stack-overflow fa-2x"></i>
                <a title="Twitter" href="https://twitter.com/natdempk" ><i class="fa fa-twitter fa-2x"></i></a>
                <a title="LinkedIn" href="https://www.linkedin.com/pub/nathaniel-dempkowski/66/551/b52" ><i class="fa fa-linkedin fa-2x"></i></a>
                <a title="Goodreads" href="https://www.goodreads.com/natdempk" ><i class="fa fa-book fa-2x"></i></a>
                <a title="Email" href="mailto:natdempk@gmail.com" ><i class="fa fa-envelope fa-2x"></i></a>
            </div>
        </header>
    </section>
</div>
